@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;600;700&display=swap');

@font-face {
  font-family: 'Rocher';
  src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
}

*{
  margin: 0 auto ;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
}

body{
  display: flex;
  min-height: 100%;
  background-color: #121212;
}

.lista-contenidos{
  flex: 1;
  font-size: 1.042vw;
  max-width: 23%;
  min-height: 100%;
  margin: 3.6% 0 0 0;
}

.lista-contenidos h2{
  padding: 8% 0 3.3% 10%;
  color: rgba(255, 255, 255, 1);
  cursor: default;
}

li#selected{
  font-weight: 600;
  text-decoration: underline;
  color: rgba(186, 104, 200, 90%);
  cursor: default;
}

.lista-contenidos li{
  color: rgba(255, 255, 255, 0.8);
  padding: 3.3% 0 3.3% 10.4%;
  cursor: pointer;
}

.lista-contenidos .subitem{
  padding: 0 0 0 20.8%;
  color:rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.contenido{
  width: 57.5%;
  margin: 3.6% 0 0 0;
}

@font-palette-values --Purples {
  font-family: Rocher;
  base-palette: 6;
}

.contenido .title{
  text-align: center;
  color: #fff;
  font-size: 2.5vw;
  font-weight: 700;
  padding: 3% 0 1% 0;
  font-family: Rocher;
  font-palette: --Purples;
}

.contenido h1{
  color: rgba(186, 104, 200, 90%);
  font-size: 2vw;
  padding: 1.5% 0;
}

.contenido p{
  text-align: justify;
  font-size: 1.2vw;
  color: rgba(255, 255, 255, 1);
}

.contenido .img{
  float: right;
  display: flex;
  width: 23%;
  padding: 0.4% 0 0 1.5% ;
  border-radius: 50%;
  filter: drop-shadow(0px 4px 10px rgba(186, 104, 200, 60%));
}

.img#lorem{
  float: left;
  padding:0.4% 1.5% 0 0;
}

/* STYLE OF SIDEBAR */

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 3.7vw;
    width: 100%;
    display: flex;
    align-items: center;
    background: #121212;
    box-shadow: 0 0 10px rgba(100, 100, 100, 1);
  }

  nav .logo{
    display: flex;
    width: 23%;
    align-items: center;
    margin: 0;
    padding-left: 1.4%;
  }

  .logo .menu-icon{
    font-size: 3vw;
    color: #777777;
    cursor: pointer;
    margin: 0;
  }

  nav .logo#l2{
    width: 100%;
    margin: 0 0 0 5%;
  } 

  .logo .name{
    cursor: default;
    height: 2.15vw;
    padding-top: 0.4vw;
    margin: 0 0 0 25%;
  }

  .name img{
    /* padding-left:90%; */
    height: 1.563vw;
  }

  .logo .name-logo{
    font-size: 1.563vw;
    font-weight: 600;
    color: white;
    margin: 0 0 0 0;
    cursor: default;
  }

  .logo .name-logo2{
    cursor: default;
    font-size: 1.563vw;
    font-weight: 600;
    color: white;
    margin: 0 0 0 0;
  }

  .search{
    display: flex;
    width: 58%;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 0;
    height: 100%;
  }

  .search-bar{
    display: flex;
    align-items: center;
    height: 2.5vw;
    width: 100%;
    background:rgba(255, 255, 255, 0.12);
  }

  .search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    font: 500;
    font-size: 1.04vw;
    color: #fff;
    padding: 1.6% 0;
  }

  .search-bar button{
    border: 0;
    padding: 2.1% 1.6% 1.8% 1.6%;
    background: transparent;
  }

  .search-bar button .search-icon{
    color: #707070;
    font-size: 1.1vw;
    cursor: pointer;
  }

  .topIcons{
    display: flex;
    width: 19%;
    font-size: 2.5vw;
    color: #777777;
    cursor: pointer;
    padding-left: 3%;
    padding-right: 1.4%;
    margin: 0 0 0 0;
    text-decoration: none;
  }

  .topIcons i{
    padding: 0 0 0 0;
  }
  
  .userBtn:link{
    text-decoration: none;
    color: #777777;
  }
  .userBtn:visited {
    text-decoration: none;
    color: #777777;
  }
  
  .userBtn:hover {
    text-decoration: underline;
    color: #fff;
  }

  nav .sidebar {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 16%;
    padding: 2% 0;
    background-color: #121212;
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
  }

  nav.open .sidebar {
    left: 0;
  }

  .sidebar .sidebar-content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding: 10% 5.2%;
  }

  .sidebar-content .lists{
    width: 100%;
    justify-content: left;
  }

  .sidebar-content .list {
    list-style: none;
  }
  
  .list .nav-link {
    display: flex;
    justify-content: left;
    margin: 0.41vw 0;
    padding: 0.729vw 0.625vw;
    border-radius: 0.7vw;
    text-decoration: none;
  }
  .lists .nav-link:hover {
    background-color: grey;
  }
  .nav-link .icon {
    margin: 0 0.729vw 0 0.729vw;
    font-size: 1.042vw;
    color: #777777;
  }
  .nav-link .link {
    font-size: 0.833vw;
    margin: auto 0;
    color: #777777;
    font-weight: 400;
  }
  .lists .nav-link:hover .icon,
  .lists .nav-link:hover .link {
    color: #fff;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: -100%;
    height: 1000vh;
    width: 200%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    background: rgba(0, 0, 0, 0.3);
  }
  nav.open ~ .overlay {
    opacity: 1;
    left: 16%;
    pointer-events: auto;
  }